body {
  font-family: 'Karla', sans-serif;
}

h1,
h2 {
  font-family: 'DM Serif Display', serif;
}

.logo {
  padding: 1.3rem;
}

.hamburger-menu {
  padding: 0.8rem;
  float: right;
}

.main-section {
  background-color: hsl(270, 9%, 17%);
  color: hsl(0, 0%, 98%);
  padding-bottom: 4rem;
}

.main-text {
  margin-top: -40px;
}

.list-content {
  background-color: hsl(0, 0%, 98%);
  color: hsl(270, 9%, 17%);
}

.top-overlay-img {
  margin-top: -100px;
  margin-left: 251px;
}

.btn-outline-primary {
  border-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 98%);
  text-transform: uppercase;
}

.find-section {
  background-color: hsl(270, 9%, 17%);
  color: hsl(0, 0%, 98%);
  padding-bottom: 4rem;
}

.find__content {
  margin-top: -250px;
}

.bottom-overlay-img {
  margin-top: 0;
  margin-left: 166px;
}
